{{yield}}
<tr>
<td>
  {{data.name}}
</td>
<td>
  {{data.status}}
</td>
<td>
  {{data.account_name}}
</td>
<td>
  {{data.phone_work}}
</td>
<td>
  {{data.email}}
</td>
<td>
  {{data.user}}
</td>
<td>
  {{data.date_entered}}
</td>
<td>
  {{data.date_modified}}
</td>
</tr>
